apiVersion: v1
kind: Secret
metadata:
  name: osc-secret
  namespace: kube-system
stringData:
  key_id: _REPLACE_WITH_OSC_ACCESS_KEY_
  access_key: _REPLACE_WITH_OSC_SECRET_KEY_
  aws_default_region: _REPLACE_WITH_OSC_REGION_
  # don't change below
  aws_availability_zones: MY_AWS_AVAILABILITY_ZONES
  osc_account_id: MY_OSC_ACCOUNT_ID
  osc_account_iam: MY_OSC_ACCOUNT_IAM
  osc_user_id: MY_OSC_USER_ID
  osc_arn: MY_OSC_ARN
